<div class="dialoge-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h2 mat-dialog-title>Add User</h2>

  <div mat-dialog-content>
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>First name</mat-label>
      <input
        [(ngModel)]="user.firstName"
        matInput
        [disabled]="loading"
        placeholder="Please enter your First name"
      />
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>

    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>Last name</mat-label>
      <input
        [(ngModel)]="user.lastName"
        matInput
        [disabled]="loading"
        placeholder="Please enter your Last name"
      />
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input
        [(ngModel)]="birthDate"
        matInput
        [disabled]="loading"
        placeholder="Placeholder"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- <mat-hint>Please enter a date</mat-hint> -->
    </mat-form-field>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street & House No.</mat-label>
        <input
          [(ngModel)]="user.street"
          [disabled]="loading"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>postal code</mat-label>
        <input
          [(ngModel)]="user.zipCode"
          [disabled]="loading"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          [(ngModel)]="user.city"
          [disabled]="loading"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button (click)="saveUser()" mat-button cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
