mat-card {
  padding-left: 0px;
  padding-right: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      cursor: unset;

      &:hover {
        background-color: unset;
      }
    }

    cursor: pointer;

    td {
      height: 48px;

      &:first-child {
        padding-left: 16px;
      }
    }

    th {
      color: rgba(0, 0, 0, 0.47);
      font-size: 14px;
      font-weight: 500;
      text-align: start;

      &:first-child {
        padding-left: 16px;
      }
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
